# Data Cleaning

## Contents

#### 1. Prepare Kernel
#### 2. Review Original Dataframe
#### 3. Remove Columns
#### 4. Check for duplicate data
#### 5. Find missing data
#### 6. Check for mixed data
#### 7. Export clean data

## 1.0 Prepare Kernel

### 1.1 Import Libraries

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

### 1.2 Import Data

In [31]:
# Importing dataset
df = pd.read_csv(r'C:\Users\Owner\Documents\Career Foundry\Gun Violence\02 Data\02 01 Original Data\gun_violence_data.csv.csv')

## 2.0 Table Review

In [32]:
#Review shape of dataset
df.shape

(239677, 29)

In [5]:
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [33]:
#Frequency table of all columns
df.count()

incident_id                    239677
date                           239677
state                          239677
city_or_county                 239677
address                        223180
n_killed                       239677
n_injured                      239677
incident_url                   239677
source_url                     239209
incident_url_fields_missing    239677
congressional_district         227733
gun_stolen                     140179
gun_type                       140226
incident_characteristics       239351
latitude                       231754
location_description            42089
longitude                      231754
n_guns_involved                140226
notes                          158660
participant_age                147379
participant_age_group          197558
participant_gender             203315
participant_name               117424
participant_relationship        15774
participant_status             212051
participant_type               214814
sources                        239068
state_house_district           200905
state_senate_district          207342
dtype: int64

## 3.0 Remove Columns

### 3.1 Remove Personal Information Columns

In [34]:
#Remove Name columns
df = df.drop('participant_name', axis = 1)

### 3.2 Remove Insignificant Columns

In [35]:
# Remove incident_url, source_url, incident_url_fields_missing, and sources since not necessary to reporting
df = df.drop('incident_url', axis = 1)

In [36]:
df = df.drop('source_url', axis = 1)

In [37]:
df = df.drop('incident_url_fields_missing', axis = 1)

In [38]:
df = df.drop('sources', axis = 1)

In [39]:
# Remove location_description due to lack of information
df = df.drop('location_description', axis = 1)

In [40]:
# Remove notes due to data inconsistences
df = df.drop('notes', axis = 1)

### 3.3 Review shape

In [41]:
df.shape

(239677, 22)

In [42]:
df.count()

incident_id                 239677
date                        239677
state                       239677
city_or_county              239677
address                     223180
n_killed                    239677
n_injured                   239677
congressional_district      227733
gun_stolen                  140179
gun_type                    140226
incident_characteristics    239351
latitude                    231754
longitude                   231754
n_guns_involved             140226
participant_age             147379
participant_age_group       197558
participant_gender          203315
participant_relationship     15774
participant_status          212051
participant_type            214814
state_house_district        200905
state_senate_district       207342
dtype: int64

## 4.0 Check for Duplicate Data

In [43]:
# Find duplicates and store in placeholder dataframe
df_dups = df[df.duplicated()]

In [44]:
df_dups

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, address, n_killed, n_injured, congressional_district, gun_stolen, gun_type, incident_characteristics, latitude, longitude, n_guns_involved, participant_age, participant_age_group, participant_gender, participant_relationship, participant_status, participant_type, state_house_district, state_senate_district]
Index: []

[0 rows x 22 columns]

## 5.0  Check for Missing Data

### 5.1 Find Missing Data

In [45]:
# Finding missing data
df.isnull().sum()

incident_id                      0
date                             0
state                            0
city_or_county                   0
address                      16497
n_killed                         0
n_injured                        0
congressional_district       11944
gun_stolen                   99498
gun_type                     99451
incident_characteristics       326
latitude                      7923
longitude                     7923
n_guns_involved              99451
participant_age              92298
participant_age_group        42119
participant_gender           36362
participant_relationship    223903
participant_status           27626
participant_type             24863
state_house_district         38772
state_senate_district        32335
dtype: int64

### 5.2 Resolve Missing Data

In [46]:
# Drop participant_relationship column due to amount of null values
df = df.drop('participant_relationship', axis = 1)

In [47]:
# Drop address column due to lack of values and duplication with latitude and longitude columns
df = df.drop('address', axis = 1)

In [48]:
# Remove gun_stolen and gun_type due to greater than 40% of data missing
df = df.drop('gun_stolen', axis = 1)
df = df.drop('gun_type', axis = 1)

In [49]:
df.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [50]:
# Assign missing latitude values
df['longitude'] = df['latitude'].fillna((df['longitude'].mean()))

In [51]:
# Assign missing latitude values
df['latitude'] = df['latitude'].fillna((df['latitude'].mean()))

In [52]:
# Assign default value to null incidents
df['incident_characteristics'] = df['incident_characteristics'].fillna("None given")

In [53]:
df.isnull().sum()

incident_id                     0
date                            0
state                           0
city_or_county                  0
n_killed                        0
n_injured                       0
congressional_district      11944
incident_characteristics        0
latitude                        0
longitude                       0
n_guns_involved             99451
participant_age             92298
participant_age_group       42119
participant_gender          36362
participant_status          27626
participant_type            24863
state_house_district        38772
state_senate_district       32335
dtype: int64

### 5.3 Review Shape

In [54]:
df.shape

(239677, 18)

## 6.0 Check for Mixed Datatypes

### 6.1 Find Mixed Datatypes

In [55]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

participant_age
participant_age_group
participant_gender
participant_status
participant_type

### 6.2 Resolve Mixed Datatypes

In [56]:
# Review current type of variable
df.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
congressional_district      float64
incident_characteristics     object
latitude                    float64
longitude                   float64
n_guns_involved             float64
participant_age              object
participant_age_group        object
participant_gender           object
participant_status           object
participant_type             object
state_house_district        float64
state_senate_district       float64
dtype: object

In [58]:
# Create numeric date column
df['date_int'] = df['date'].str.replace('-', '')

In [59]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,incident_characteristics,latitude,longitude,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_status,participant_type,state_house_district,state_senate_district,date_int
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,40.3467,NaN,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN,20130101
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,33.9090,NaN,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0,20130101
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,41.4455,2.0,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0,20130101
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,39.6518,NaN,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0,20130105
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,36.1140,2.0,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0,20130107

In [61]:
df.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
congressional_district      float64
incident_characteristics     object
latitude                    float64
longitude                   float64
n_guns_involved             float64
participant_age              object
participant_age_group        object
participant_gender           object
participant_status           object
participant_type             object
state_house_district        float64
state_senate_district       float64
date_int                     object
dtype: object

In [64]:
# Update mixed columns to strings
df['date_int'] = df['date_int'].astype('int64')

In [65]:
df.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
congressional_district      float64
incident_characteristics     object
latitude                    float64
longitude                   float64
n_guns_involved             float64
participant_age              object
participant_age_group        object
participant_gender           object
participant_status           object
participant_type             object
state_house_district        float64
state_senate_district       float64
date_int                      int64
dtype: object

## 7.0 Export Dataframe

In [66]:
#Export clean dataframe
df.to_csv(r'C:\Users\Owner\Documents\Career Foundry\Gun Violence\02 Data\02 02 Prepared Data\gun_violence_clean.csv')