# Data Wrangling

## Contents

#### 1. Import libraries and data
#### 2. Append comparision variables 
        Year
        Month
        Quarter Date
#### 3. Merge unemployment data
#### 4. Export data

## 1.0 Prepare Kernel

### 1.1 Import Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import warnings
import quandl
from datetime import datetime

# Disable deprecation warnings 
warnings.filterwarnings("ignore")

### 1.2 Import Data

#### 1.2.1 Import dataset relating to gun violence

In [8]:
# Define path
path = r'C:\Users\Owner\Documents\Career Foundry\Gun Violence'

# Import data
df_g = pd.read_csv(os.path.join(path, '02 Data', '02 02 Prepared Data', 'gun_violence_clean_addition.csv'))

In [9]:
df_g.shape

(239677, 21)

In [10]:
df_g.head(5)

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,incident_characteristics,latitude,longitude,...,participant_age,participant_age_group,participant_gender,participant_status,participant_type,state_house_district,state_senate_district,date_int,Gun Usage,region
0,461105,1/1/2013,Pennsylvania,Mckeesport,0,4,14.0,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,40.3467,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN,20130101,NaN,Northeast
1,460726,1/1/2013,California,Hawthorne,1,3,43.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,33.9090,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0,20130101,NaN,West
2,478855,1/1/2013,Ohio,Lorain,1,3,9.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,41.4455,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0,20130101,Multiple Guns,Midwest
3,478925,1/5/2013,Colorado,Aurora,4,0,6.0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,39.6518,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0,20130105,NaN,West
4,478959,1/7/2013,North Carolina,Greensboro,2,2,6.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,36.1140,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0,20130107,Multiple Guns,South

#### 1.2.2 Import dataset from Federal Reserve datasets

Importing the Federal Reserve Economic Data "Natural Rate of Unemployment" variable for use as comparison to gun incidents

In [3]:
# Configure API key 
quandl.ApiConfig.api_key = 'r8kfPxqsghpTLz1h4eXK'

In [11]:
# Importing data
df_u = quandl.get('FRED/NROUST')

In [12]:
df_u.shape

(332, 1)

In [13]:
df_u.head(5)

               Value
Date
1949-01-01  5.255053
1949-04-01  5.261516
1949-07-01  5.268013
1949-10-01  5.274564
1950-01-01  5.281182

## 2.0 Append Comparison Variables

### 2.1 Prepare Data

In [19]:
# Review current datatype for date column
df_g['date'].dtypes

dtype('O')

In [75]:
# Convert date to datetime
df_g['date']= pd.to_datetime(df_g['date'])

In [76]:
# Check conversion
df_g['date'].dtypes

dtype('<M8[ns]')

### 2.2 Append Comparison variables

#### 2.2.1 Year of incident as year

In [23]:
# Append year to dataframe for yearly comparisons
df_g['year'] = df_g['date'].dt.year

In [28]:
df_g['year'].value_counts(dropna = False)

2017    61401
2016    58763
2015    53579
2014    51854
2018    13802
2013      278
Name: year, dtype: int64

#### 2.2.2 Month of incident as month

In [26]:
# Append month to dataframe for monthly comparisons
df_g['month'] = df_g['date'].dt.month

In [30]:
df_g['month'].value_counts(dropna = False)

1     23091
3     22640
7     21126
8     21040
5     19930
10    19890
9     19656
2     18841
6     18755
4     18628
12    18106
11    17974
Name: month, dtype: int64

#### 2.2.3 Quarter date

Use date of incident to assign a quarter date that coincides with date unemployment date of Federal Reserve data

In [39]:
df_g.loc[(df_g['date'] >= '2013-01-01') & (df_g['date'] < '2013-04-01'), 'unemployment_date'] = '2013-01-01'

In [41]:
df_g.loc[(df_g['date'] >= '2013-04-01') & (df_g['date'] < '2013-07-01'), 'unemployment_date'] = '2013-04-01'

In [42]:
df_g.loc[(df_g['date'] >= '2013-07-01') & (df_g['date'] < '2013-10-01'), 'unemployment_date'] = '2013-07-01'

In [43]:
df_g.loc[(df_g['date'] >= '2013-10-01') & (df_g['date'] < '2014-01-01'), 'unemployment_date'] = '2013-10-01'

In [44]:
df_g.loc[(df_g['date'] >= '2014-01-01') & (df_g['date'] < '2014-04-01'), 'unemployment_date'] = '2014-01-01'

In [45]:
df_g.loc[(df_g['date'] >= '2014-04-01') & (df_g['date'] < '2014-07-01'), 'unemployment_date'] = '2014-04-01'

In [46]:
df_g.loc[(df_g['date'] >= '2014-07-01') & (df_g['date'] < '2014-10-01'), 'unemployment_date'] = '2014-07-01'

In [47]:
df_g.loc[(df_g['date'] >= '2014-10-01') & (df_g['date'] < '2015-01-01'), 'unemployment_date'] = '2014-10-01'

In [49]:
df_g.loc[(df_g['date'] >= '2015-01-01') & (df_g['date'] < '2015-04-01'), 'unemployment_date'] = '2015-01-01'

In [50]:
df_g.loc[(df_g['date'] >= '2015-04-01') & (df_g['date'] < '2015-07-01'), 'unemployment_date'] = '2015-04-01'

In [51]:
df_g.loc[(df_g['date'] >= '2015-07-01') & (df_g['date'] < '2015-10-01'), 'unemployment_date'] = '2015-07-01'

In [52]:
df_g.loc[(df_g['date'] >= '2015-10-01') & (df_g['date'] < '2016-01-01'), 'unemployment_date'] = '2015-10-01'

In [53]:
df_g.loc[(df_g['date'] >= '2016-01-01') & (df_g['date'] < '2016-04-01'), 'unemployment_date'] = '2016-01-01'

In [54]:
df_g.loc[(df_g['date'] >= '2016-04-01') & (df_g['date'] < '2016-07-01'), 'unemployment_date'] = '2016-04-01'

In [55]:
df_g.loc[(df_g['date'] >= '2016-07-01') & (df_g['date'] < '2016-10-01'), 'unemployment_date'] = '2016-07-01'

In [56]:
df_g.loc[(df_g['date'] >= '2016-10-01') & (df_g['date'] < '2017-01-01'), 'unemployment_date'] = '2016-10-01'

In [57]:
df_g.loc[(df_g['date'] >= '2017-01-01') & (df_g['date'] < '2017-04-01'), 'unemployment_date'] = '2017-01-01'

In [58]:
df_g.loc[(df_g['date'] >= '2017-04-01') & (df_g['date'] < '2017-07-01'), 'unemployment_date'] = '2017-04-01'

In [59]:
df_g.loc[(df_g['date'] >= '2017-07-01') & (df_g['date'] < '2017-10-01'), 'unemployment_date'] = '2017-07-01'

In [60]:
df_g.loc[(df_g['date'] >= '2017-10-01') & (df_g['date'] < '2018-01-01'), 'unemployment_date'] = '2017-10-01'

In [61]:
df_g.loc[(df_g['date'] >= '2018-01-01') & (df_g['date'] < '2018-04-01'), 'unemployment_date'] = '2018-01-01'

In [62]:
df_g.loc[(df_g['date'] >= '2018-04-01') & (df_g['date'] < '2018-07-01'), 'unemployment_date'] = '2018-04-01'

In [63]:
df_g.loc[(df_g['date'] >= '2018-07-01') & (df_g['date'] < '2018-10-01'), 'unemployment_date'] = '2018-07-01'

In [64]:
df_g.loc[(df_g['date'] >= '2018-10-01') & (df_g['date'] < '2019-01-01'), 'unemployment_date'] = '2018-10-01'

In [65]:
df_g['unemployment_date'].value_counts(dropna = False)

2017-04-01    16401
2016-07-01    15714
2017-07-01    15539
2014-07-01    15530
2016-10-01    15496
2015-07-01    14949
2017-01-01    14837
2017-10-01    14624
2016-04-01    14104
2015-04-01    14082
2018-01-01    13802
2016-01-01    13449
2015-10-01    13219
2014-04-01    12651
2014-10-01    12564
2015-01-01    11329
2014-01-01    11109
2013-07-01       90
2013-04-01       75
2013-10-01       67
2013-01-01       46
Name: unemployment_date, dtype: int64

## 3.0 Merge Data

Merge data from Federal Reserve unemployment data with gun violence data

### 3.1 Prepare data

In [73]:
# Reset index to filter date to match gun violence dates
df_u2 = df_u.reset_index()

In [77]:
# Convert unemployment_date to datetime
df_g['unemployment_date']= pd.to_datetime(df_g['unemployment_date'])

### 3.2 Merge data

In [78]:
#Merge gun violence data with unemployment data on unemployment date created
df_merged = df_g.merge(df_u2, how='left', left_on='unemployment_date', right_on='Date')

In [79]:
df_merged.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,incident_characteristics,latitude,longitude,...,state_house_district,state_senate_district,date_int,Gun Usage,region,year,month,unemployment_date,Date,Value
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,40.3467,...,NaN,NaN,20130101,NaN,Northeast,2013,1,2013-01-01,2013-01-01,5.516897
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,33.9090,...,62.0,35.0,20130101,NaN,West,2013,1,2013-01-01,2013-01-01,5.516897
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,41.4455,...,56.0,13.0,20130101,Multiple Guns,Midwest,2013,1,2013-01-01,2013-01-01,5.516897
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,39.6518,...,40.0,28.0,20130105,NaN,West,2013,1,2013-01-01,2013-01-01,5.516897
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,36.1140,...,62.0,27.0,20130107,Multiple Guns,South,2013,1,2013-01-01,2013-01-01,5.516897

In [80]:
# Rename FR Date and Value columns
df_merged.rename(columns={'Date':'FR_date'}, inplace=True)
df_merged.rename(columns={'Value':'unemployment_rate'}, inplace=True)

In [81]:
df_merged.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,incident_characteristics,latitude,longitude,...,state_house_district,state_senate_district,date_int,Gun Usage,region,year,month,unemployment_date,FR_date,unemployment_rate
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,40.3467,...,NaN,NaN,20130101,NaN,Northeast,2013,1,2013-01-01,2013-01-01,5.516897
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,33.9090,...,62.0,35.0,20130101,NaN,West,2013,1,2013-01-01,2013-01-01,5.516897
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,41.4455,...,56.0,13.0,20130101,Multiple Guns,Midwest,2013,1,2013-01-01,2013-01-01,5.516897
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,39.6518,...,40.0,28.0,20130105,NaN,West,2013,1,2013-01-01,2013-01-01,5.516897
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,36.1140,...,62.0,27.0,20130107,Multiple Guns,South,2013,1,2013-01-01,2013-01-01,5.516897

## 4.0 Export Dataframe

In [83]:
# Define path
path = r'C:\Users\Owner\Documents\Career Foundry\Gun Violence'

# Export data
df_merged.to_csv(os.path.join(path, '02 Data', '02 02 Prepared Data', 'gun_violence_final.csv'))